
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin1.cshtml";
}

@model PagedList.IPagedList<DBConect.model.GetListIdeaRegester>
@using PagedList.Mvc
@using DBConect.Farmework
@{
    IEnumerable<StatusIdeaInitative> ListStatus = ViewData["StatusIdeaInitative"] as IEnumerable<StatusIdeaInitative>;
}
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.4;
    }

    .pagination-container .pagination li.active {
        background-color: #ccc
    }

    .imgRedirect {
        margin-right: 10px
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #f5f5f5;
        background-image: none;
    }

    select {
        flex: 1;
        padding: 7px 33px 7px 9px;
        color: #5a4949;
        cursor: pointer;
        border-radius: 11px;
    }
    .table td.name {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
        height: 1.2em;
        white-space: nowrap;
    }
    .nocontent {
        margin-top: 50px;
        padding: 20px;
        background-color: #ccc;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-image: linear-gradient(to right, #f56383, #ff7524);
        max-width: max-content;
        margin: 69px auto 0 auto;
    }
</style>
<div class="row table_post">
    <div style="height: 30px; width: 100%; display:flex; align-items:center; padding: 0 24px">
        <a href="@Url.Action("Index", "HomeAdmin")" class="imgRedirect">
            <img src="~/Areas/Admin/assets_admin/assets/img/ic_home.png" />
        </a>
        <div class="imgRedirect">
            <img src="~/Areas/Admin/assets_admin/assets/img/ic_arrow_right.png" />
        </div>
        <div style="color: black; font-size: 20px">Quản lý ý tưởng</div>
    </div>
    <div style="margin-top: 40px; padding: 0 24px;" class="col-lg-12 mb-4">
        <div class="card" style="min-height: 65vh; position: relative">
            <div style="width: 100%; margin: 20px 0; padding: 10px 0; display: flex; align-items:center">
                <h4 style=" margin: 0 0 0 20px; color: #dc3545; font-weight:bold; margin-bottom: 15px; flex: 1">Quản lý ý tưởng</h4>
                @using (Html.BeginForm("Index", "ManageIdeaRegister", FormMethod.Get, new { style = "flex: 4" }))
                {
                    <div style="display: flex; align-items:center; margin-right: 30px; flex: 4; justify-content: flex-end">

                        <div style="width: 40%;position: relative; margin-right: 30px">
                            <input value="@ViewData["searchString"]" id="search_input" name="searchString" style=" width: 100%; border: none; background-color: #F5F5F5; border-radius: 17px; padding: 7px 0 6px 35px; outline: none;" placeholder="Tìm kiếm..." />
                            <i style="position: absolute; left: 10px; top: 11px; color: #999999;" class="fas fa-search"></i>
                        </div>
                        <div style="margin-right: 30px; background-color: #5d9866; padding: 7px 10px; border-radius: 13px; display: flex; align-items: center">
                            <i style=" color: #fff; margin-right: 10px;" class="fas fa-file-download"></i>
                            <a style="color: #fff" href="@Url.Action("ExportExcel", "ManageIdeaRegister")">Xuất Excel</a>
                        </div>
                        <div style="position:relative">
                            <select name="idStatus" class="StatusClass" style="border: none" id="IdStatus">
                                <option value=0>Tất cả trạng thái</option>
                                @foreach (StatusIdeaInitative item in ListStatus)
                                {
                                    <option value=@item.IdStatus selected=@(ViewData["IdStatusFinter"].ToString() == item.IdStatus.ToString() ? "selected" : null)>@item.NameStauts</option>
                                }
                            </select>
                            <i style="position: absolute; position: absolute; top: 11px; right: 10px;" class="fas fa-chevron-down"></i>
                        </div>
                        <div>

                        </div>
                        <button id="btnFinterStatus" type="submit" style="visibility: hidden; display: none"></button>
                    </div>
                }
            </div>
            @if (Model.Count > 0)
            {
                <div class="table-responsive" style="margin-bottom: 50px">

                    <h3 style="color:red">@ViewData["status"]</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Tên ý tưởng</th>
                                <th>Tác giả</th>
                                <th>Phòng ban tác giả</th>
                                <th>Lĩnh vực</th>
                                <th>Sáng kiến của</th>
                                <th>Trạng thái</th>
                                <th>Thời gian gửi</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.Select((value, i) => new { value, i }))
                            {
                                var item = data.value;
                                <tr id="row_@item.Id" class="col-tr-post">
                                    <td>@(Math.Abs(data.i + 1))</td>
                                    <td class="name">@item.NameIdea</td>
                                    <td>@item.AuthorFullName</td>
                                    <td>@(item.AuthorDepartment != null ? item.AuthorDepartment : "Không có dũ liệu")</td>
                                    <td>@item.NameField</td>
                                    <td>@(item.IndividualIdea == true ? "Cá nhân" : "Tập thể")</td>
                                    <td style="color: @(item.Status == 1 ? "#ff9400" : (item.Status == 2 ? "#08d412" : "red") )">@item.NameStauts</td>
                                    <td>@item.DateSend</td>
                                    <td style="min-width: 270px">
                                        <a href="DetailIdeaRegester/?id=@item.Id" class="btn btn-sm btn-primary">Chi Tiết</a>
                                        <div onclick="ApproveIdea(@item.Id)" class="@(item.Status != 1 ? "btn btn-sm btn-success disabled" : "btn btn-sm btn-success")">
                                            Phê duyệt
                                        </div>
                                        <div onclick="RejectIdea(@item.Id)" class="@(item.Status != 1 ? "btn btn-sm btn btn-sm btn-danger disabled" : "btn btn-sm btn-danger")">
                                            Từ chối
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @* spinner *@
                    <div class="spinner">
                        <div class="spinner-border text-danger center-div" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body contenModels">
                                    Xét duyệt ý tưởng thành công!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-primary">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="nocontent">
                    Không có dữ liệu
                </div>
            }
            <div style="position: absolute; bottom: 0; left: 0; right: 0;">
                @Html.PagedListPager(Model, page => Url.Action("index", new { page, searchString = ViewData["searchString"], idStatus = ViewData["IdStatusFinter"] }))
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // người dùng xác nhận form model và reload lại trang
        $("#exampleModalCenter").on('hidden.bs.modal', function () {
            location.reload()
        });

        var truthStatus = document.querySelectorAll(".StatusClass");
        truthStatus.forEach(itemTruth => {
            itemTruth.addEventListener('change', function () {
                $("#btnFinterStatus").click();
            })
        })

        $(function () {
            $('input[id=search_input]').keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnFinterStatus").click();
                }
            });
        });

        function ApproveIdea(id) {
            if (confirm("Bạn có muốn phê duyệt ý tưởng này?")) {
                $('.spinner').css('display', 'block');
                $.ajax({
                    url: "/ManageIdeaRegister/ApproveV2",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: `{"id": "${id}"}`,
                    success: function (data) {
                        $('.spinner').css('display', 'none');
                        if (data) {
                            $('#exampleModalCenter').modal('show');
                        } else {
                            $('.contenModels').text("Có lỗi xảy ra, xét duyệt không thành công. Vui lòng thử lại sau ít phút!")
                            $('#exampleModalCenter').modal('show');
                        }
                    }
                })
            } else {
                return false;
            }
        }

        function RejectIdea(id) {
            if (confirm("Bạn có muốn từ chối ý tưởng này?")) {
                $('.spinner').css('display', 'block');
                $.ajax({
                    url: "/ManageIdeaRegister/RejectIdeaV2",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: `{"id": "${id}"}`,
                    success: function (data) {
                        $('.spinner').css('display', 'none');
                        if (data) {
                            $('#exampleModalCenter').modal('show');
                        } else {
                            $('.contenModels').text("Có lỗi xảy ra. Vui lòng thử lại sau ít phút!")
                            $('#exampleModalCenter').modal('show');
                        }
                    }
                })
            } else {
                return false;
            }
        }
    </script>
}
