
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin1.cshtml";
}

@model PagedList.IPagedList<DBConect.model.GetListThankCard>
@using PagedList.Mvc
<style>
    .pagination-container .pagination li.active {
        background-color: #ccc
    }
    .imgRedirect {
        margin-right: 10px
    }
</style>
<div class="row table_post">
    <div style="height: 30px; width: 100%; display:flex; align-items:center; padding: 0 24px">
        <a href="@Url.Action("Index", "HomeAdmin")" class="imgRedirect">
            <img src="~/Areas/Admin/assets_admin/assets/img/ic_home.png" />
        </a>
        <div class="imgRedirect">
            <img src="~/Areas/Admin/assets_admin/assets/img/ic_arrow_right.png" />
        </div>
        <div style="color: black; font-size: 20px">Quản lý thanks card</div>
    </div>
    <div style="margin-top: 40px; padding: 0 24px;" class="col-lg-12 mb-4">
        <div class="card" style="min-height: 70vh; position: relative">
            <div style="width: 100%; margin: 20px 0; padding: 10px 0">
                <h4 style="text-align: center; margin: 0; color: #dc3545; font-weight:bold; margin-bottom: 15px">QUẢN LÝ THANKS CARD</h4>
            </div>
            <div class="table-responsive" style="margin-bottom: 50px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Người gửi</th>
                            <th>Email người giử</th>
                            <th>Người nhận</th>
                            <th>Email người nhận</th>
                            <th>Phòng ban</th>
                            <th>Ảnh</th>
                            <th>Thời gian gửi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.Select((value, i) => new { i, value }))
                        {
                            var item = data.value;
                            <tr id="row_@item.id" class="col-tr-post">
                                <td>@(Math.Abs(data.i + 1))</td>
                                <td>@(item.Incognito == true ? "ẩn danh" : item.Sender)</td>
                                <td>@(item.Incognito == true ? "ẩn danh" : item.MailSender)</td>
                                <td>@item.Receiver</td>
                                <td>@item.MailReceiver</td>
                                <td>@item.NameDepartment</td>
                                <td>@item.CardImg</td>
                                <td>@item.SendTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="position: absolute; bottom: 0; left: 0; right: 0">
                @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
            </div>
        </div>
    </div>
</div>
